body {
  background-color: beige;
}

button {
  background-color: rgb(85, 179, 179);

  border: 5px;
  border-radius: 20px;
  height: 60px;

  color: beige;
  font-family: cursive;
  font-size: 15px;
}
button:hover {
  height: 70px;
}
